body {
	font-family: "Segoe UI", "Open Sans", "Lucida Grande", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei Light", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.container {
	width: 980px !important;
	padding: 0;
}

.sweet-overlay {
	z-index: 2000;
}
.sweet-alert .icon {
	z-index: -1;
}
