.item {
    width: 980px;
    border: 0px;
}
.table >tr> td {
    border-top: 0px;
}

.add2cart {
    width: 80px;
    vertical-align: middle;
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}
.two-row {
    font-size: 20px;
    row-span: 2;
    width: 120px;
    border-bottom: 1px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
}
.fc {
    color: #e54144;
    font-weight: bold;
}
i {
    font-weight: normal;
    font-size: 14px;
}
.form-group .form-control {
    border: none;
    font-size: 16px;
}