<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lijinfeng.eshop.dao.CartMapper">

    <resultMap id="cartsList" type="com.lijinfeng.eshop.entity.Carts">
        <id property="cartId" column="cart_id"/>
        <result property="goodName" column="good_name"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="amount" column="amount"/>
        <result property="total" column="total"/>
        <result property="time" column="datetime"/>
    </resultMap>

    <insert id="addToCart" parameterType="com.lijinfeng.eshop.entity.Cart">
      INSERT INTO cart(cart_id,good_id,u_id,amount,total,datetime)
             VALUES (#{cartId}, #{goodId}, #{userId}, #{amount}, #{total}, #{time})
    </insert>

    <select id="myCart" resultMap="cartsList">
        SELECT cart_id,amount,total,datetime,good_name,type,price FROM cart LEFT JOIN goods
                     ON cart.u_id = #{userId} AND goods.good_id = cart.good_id
    </select>

    <select id="getGoodIdByCartId" resultType="Integer">
        SELECT good_id FROM cart WHERE cart_id = #{cartId}
    </select>

    <select id="getSizeOfCart" resultType="Integer">
        SELECT COUNT(cart_id) FROM cart
    </select>

    <delete id="deleteFromCart" parameterType="Integer">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

    <delete id="batchDelete" parameterType="List">
        DELETE FROM cart WHERE cart_id IN
        <foreach item="cart" collection="array" open="(" separator="," close=")">
            #{cart.cartId}
        </foreach>
    </delete>
</mapper>